body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #696969;
}


.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container > .header {
    background-color: #D9DEE1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 20px;
    overflow: hidden;
    box-sizing: border-box;
}


.header #profile-picture {
    width: 250px;
    height: 250px;
    border: 4px solid #696969;
    object-fit: cover;
    object-position: center 30%;
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header .icon-header {
    height: 24px;
    width: 24px;
    align-self: center;
}

.header-info > h1 {
    font-size: 3rem;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 9px;
    margin: 0;
    padding: 0;
}

.info p {
    margin: 0;
}

.left-side,
.right-side {
  display: block;
}

.mobile-content {
    display: none;
  }

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 350px;
    width: 100%;
    padding: 40px;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;

}

.title {
    display: grid;
    grid-template-columns: 5% 95%;
    justify-content: center;
}

.title h2 {
    margin: 0;
    padding: 0;
    align-self: center;
}

.bullet-box {
    background-color: #696969;
    width: 5px;
    height: 30px;
}

.tab {
    margin-bottom: 40px;
}

/* Larger Screens */
@media (min-width: 1025px) and (max-width: 1440px)
{
    .container > .header {
        padding: 40px;
        gap: 10px;
    }

    .container .content {
        gap: 160px;
    }

    .content p, li {
        font-size: 16px;
    }

    .mobile-content {
        display: none;
    }

}

/* Tablet Size */
@media (min-width: 768px) and (max-width: 1024px) {
    .header-info > h1 {
        font-size: 2rem;
    }

    .header #profile-picture {
        width: 200px;
        height: 200px;
    }

    .info p{
        font-size: 12px;
    }

    .header .icon-header {
        height: 12px;
        width: 12px;
    }

    .content {
        gap: 120px;
    }

    .content p, li {
        font-size: 12px;
    }

    .content h2 {
        font-size: 18px;
    }

    .content h3 {
        font-size: 14px;
    }

    .bullet-box {
        width: 4px;
        height: 20px;
    }

    .mobile-content {
        display: none;
    }
}


/* Larger Phones  */
@media (min-width: 481px) and (max-width: 767px) {
    .left-side, .right-side {
        display: none;
    }

    .mobile-content {
        display: block;
    }

    .container > .header {
        flex-direction: column-reverse;
        width: 100%;
        padding: 20px;
        align-items: center;
        
    }

    .header-info > h1 {
        font-size: 2rem;
    }

    .header .icon-header {
        height: 14px;
        width: 14px;
    }

    .header-info p {
        font-size: 14px;
    }

    .header #profile-picture {
        align-self: center;
        width: 200px;
        height: 200px;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 0;
    }

    .content p, li {
        font-size: 12px;
    }

    .content h2 {
        font-size: 16px;
    }

    .content h3 {
        font-size: 14px;
    }

    .bullet-box {
        width: 4px;
        height: 15px;
        align-self: center;
    }

    .tab {
        margin-bottom: 20px;
    }
}

/* Smaller Phones */
@media (min-width: 320px) and (max-width: 480px) {
    .left-side, .right-side {
        display: none;
    }

    .mobile-content {
        display: block;
    }

    .container > .header {
        flex-direction: column-reverse;
        width: 100%;
        padding: 20px;
        align-items: center; 
    }

    .header-info > h1 {
        font-size: 3rem;
    }

    .header .icon-header {
        height: 14px;
        width: 14px;
    }

    .header-info p {
        font-size: 14px;
    }

    .header #profile-picture {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 0;
    }

    .content p, li {
        font-size: 12px;
    }

    .content h2 {
        font-size: 16px;
    }

    .content h3 {
        font-size: 14px;
    }

    .bullet-box {
        width: 4px;
        height: 15px;
        align-self: center;
    }

    .tab {
        margin-bottom: 20px;
    }
}